@import '../variables.scss';

.job-item {
  background-color: $light-grey;
  color: $black;
  text-align: center;
  width: 30rem;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  box-shadow: 1px 1px $black;
  border-radius: 1rem;
}

.job-company {
  color: $red;
  font-size: 2rem;
  font-weight: bold;
}
