@import '../../variables.scss';

.job-item {
  background-color: $light-grey;
  color: $black;
  width: 45rem;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  box-shadow: 1px 1px $black;
  border-radius: 1rem;

  a {
    color: $red;

    &:hover {
      color: lighten($red, 10%);
    }
  }

  h2, h3 {
    margin: 0;
  }

  .job-company {
    font-weight: bold;
    color: $red;
    font-size: 2rem;
    float: left;
  }

  .job-timeframe {
    float: right;
    font-style: italic;
  }

  .job-tech {
    color: $red;
    font-size: 1.5rem;
    text-align: right;

    span {
      margin: .3rem;
    }
  }
}

.clearfix {
  clear: both;
}
