@import '../../variables.scss';

.footer {
  background-color: $red;
  height: 13rem;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: $light-grey;
    margin: .3rem;

    &:hover {
      color: lighten($light-grey, 10%);
    }
  }

  .copyright {
    margin: 0 0 1rem 0;
  }

  .social {
    text-align: center;
  }
}
