@import '../../variables.scss';

.footer {
  background-color: $red;
  height: 15rem;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  align-items: center;

  a {
    color: $light-grey;

    &:hover {
      color: lighten($light-grey, 10%);
    }
  }

  .copyright {
    flex: 1;
    margin-left: 1rem;
  }

  .social {
    width: 13rem;
    margin-right: 1rem;
  }
}
